@page "/"
@using Core.Models;
@inject HttpClient Http;

<PageTitle>EAAA Genbrugsmarkedmarked</PageTitle>

<h1>Welcome to EAA's Genbrugsmarked</h1>

Please choose from the menu on the left.

And remember to log in!

<br />
<br />

<h3>Our Locations</h3>

<br />

<div class="row">
    @foreach (var location in _locations)
    {
        <div class="col-md-4">
            <div class="locationlist">
                <div class="locationlist-body">
                    <h5 class="locationlist-title">@location.Name</h5>
                    <h5 class="locationlist-openinghours">Open between @location.OpeningHours</h5>
                    <p class="locationlist-text">@location.Description</p>

                </div>
            </div>
        </div>
    }
</div>

<div>
    <img src="Images/RdeKors_08_05_222420_kopi_1500x450_1460x438_ttttt_1400x438.jpg" alt="billede" class="billede" />
</div>

@code {
    private string serverUrl = "https://localhost:7231";

    private List<Location> _locations = new();
    private int _selectedLocationIndex;


    protected override async Task OnInitializedAsync()
    {

        _locations = await Http.GetFromJsonAsync<List<Location>>($"{serverUrl}/api/location/getAllLocations");
    }
}

