@page "/listing"
@using Core.Models;
@inject HttpClient Http;

<h3>Listings</h3>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in listingList ?? new Listing[0])
        {
            <tr>
                <td>@item.Title</td>
            </tr>
        }
    </tbody>
</table>

@code {
    private Listing[]? listingList = new Listing[0];
    private string serverUrl = "https://localhost:7060";

    protected override async Task OnInitializedAsync()
    {
        listingList = await Http.GetFromJsonAsync<Listing[]>($"{serverUrl}/api/listing/getall");
    }
}
