@page "/profile"
@inject Blazored.LocalStorage.ILocalStorageService localStore
@using Core.Models
@using Blazored.LocalStorage
<PageTitle>Profil</PageTitle>

<h1>Min profil</h1>
<p>Alexander123</p>
<p>Alexandermail@gmail.com</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Egne annoncer</th>
            <th scope="col">Vare</th>
            <th scope="col">Pris</th>
            <th scope="col">Status</th>
            <th scope="col">Slet</th>
        </tr>
    </thead>
</table>
@code {
    
    
}