@page "/profile"
@using Core.Models
@using Blazored.LocalStorage
@inject Blazored.LocalStorage.ILocalStorageService localStore
<PageTitle>Profil</PageTitle>

<h1>Min profil</h1>
<p>Alexander123</p>
<p>Alexandermail@gmail.com</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Egne annoncer</th>
            <th scope="col">Vare</th>
            <th scope="col">Pris</th>
            <th scope="col">Status</th>
            <th scope="col">Slet</th>
        </tr>
    </thead>
</table>
@code {
    /*
    public async void UpdateLocalStorage()
    {
        await localStore.SetItemAsync(todoKey, todos);
    }
        
    public async void ClearLocalStorage()
    {
        //todos.Clear();
        await localStore.RemoveItemAsync(todoKey);
    }
    */
    
}